.register span {
    color: red;
    font-size: 12px;
    font-weight: 400;
    display: none;
}

.register input:invalid[focused="true"] {
    border: 1px solid red;
}

.register input:invalid[focused="true"] ~ span {
    display: block;
}
