body {
    background-image: linear-gradient(#c8defe, transparent), url("assests/images/bgpattern.png");
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.input-effect input:focus{
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes inputsShake {
    0% {
        margin-left: 0rem;
      }
      25% {
        margin-left: 0.1rem;
      }
      75% {
        margin-left: -0.1rem;
      }
      100% {
        margin-left: 0rem;
      }
}

@keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.4rem;
    }
    75% {
      margin-left: -0.4rem;
    }
    100% {
      margin-left: 0rem;
    }
  }
  


@media all and (max-width: 768px) {
    #loginImg {
        display: none;
    }
    #topLogo{
        display: none;
    }
}

#logo{
    width: 20px;
    height: 20px;
}

@media all and (max-width: 996px) and (min-width: 768px) {
    #btnLogin {
        padding-left: 2rem;
    }
}