#profilePic {
  margin-bottom: 1rem;
}

#profileImg {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 1px solid #c8defe;
}

.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
