/*Right side*/
.right-slide {
    border-left: 2px solid;
    background-color: #7294ca;
    background-image: url("../../../assests/images/chat-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: left; /* add this line to float the right slide to the left */
    border-radius: 10px;
  }

  /* right side */
.profile-text-chat {
    margin-top: 5px;
    margin-left: 10px;
    color: rgb(227, 227, 227);
  }

  .profile-text-about {
    display: block;
    color: rgb(227, 227, 227);
  }

  .linerLine-color-right {
    background: linear-gradient(45deg, #041941, #212e47, #3c414a);
  }
  

  .top-chat {
    position: relative;
    height: 53px;
    width: 100%;
    left: 0;
    z-index: 102;
    border-radius: 10px;
  }
  
  .right-chat {
    padding-left: 0px;
    padding-right: 0px;
    border-width: 3px;
    border-color: rgb(38, 8, 102);
    overflow-y: auto;
    height: 85%;
    margin-top: 0px;
    display: flex;
    flex-direction: column-reverse;
  }

  .right-chat::-webkit-scrollbar {
    width: 0px;
    /* background-color: transparent; Background color of the scrollbar track */
  }
  
  .chat-box-input {
    background: #eee;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .right-chat-profile-name {
    margin-left: 0px;
    padding-left: 0px;
  }
  

  .back-to-contact-icon {
    align-items: center;
    width: auto;
    height: auto;
    display: none;
  }

  @media (max-width: 576px) {
    .back-to-contact-icon {
      margin-right: 0px;
    }
  }

  .back-to-contact-icon a {
    cursor: default;
  }
  
  .back-to-contact-icon:hover {
    background-color: #eeeeee;
  }
  