
body {
    height: 100vh;
    background-image: linear-gradient(#7295ca, transparent), url("/assests/images/bgpattern.png");
    overflow-y:hidden;
  }
  
  /* u {
    text-decoration: underline;
  } */
  
  /* .lowerScreen {
    display: relative;
    justify-content: center;
    align-items: center;
    height: 82vh;
    background-image: linear-gradient(#c8defe, transparent), url("assests/images/bgpattern.png");
    z-index: 2;
  } */
  
  .topScreen {
    display: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18vh;
    background-color: #041941;
  }
  
  /* 
  img:hover {
      animation: shake 0.5s;
      animation-iteration-count: 1;
  } */
  
  
  @keyframes inputsShake {
      0% {
          margin-left: 0rem;
        }
        25% {
          margin-left: 0.1rem;
        }
        75% {
          margin-left: -0.1rem;
        }
        100% {
          margin-left: 0rem;
        }
  }
  
  @keyframes shake {
      0% {
        margin-left: 0rem;
      }
      25% {
        margin-left: 0.2rem;
      }
      75% {
        margin-left: -0.2rem;
      }
      100% {
        margin-left: 0rem;
      }
    }
    
  
  
  @media all and (max-width: 768px) {
      #loginImg {
          display: none;
      }
      #topLogo{
          display: none;
      }
      .left-chat {
          display: none;
      }
      .back-arrow {
        display: contents !important;
      }
  }
  
  #logo{
      width: 25px;
      height: 25px;
      background-color: rgb(255, 255, 255);
  }
  
  @media all and (max-width: 996px) and (min-width: 768px) {
      #btnLogin {
          padding-left: 2rem;
      }
  }
  
  
  #profilePic{
    margin-bottom: 1rem;
  }
  
  #profileImg{
      width: 230px;
      height: 230px;
      border-radius: 50%;
      border: 1px solid #c8defe;
  }
  
  .circular--square { 
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%; }
  
    
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  
  #topLogo {
    color: white;
  }
  
  