#logo {
  width: 25px;
  height: 25px;
  background-color: rgb(255, 255, 255);
}

@media all and (max-width: 996px) and (min-width: 768px) {
  #btnLogin {
    padding-left: 2rem;
  }
}

#topLogo {
  color: white;
}
